@import url(variables.css);

*{
    font-family: sans-serif;
}

body{
    background-size: cover;
    background-position: center;
    background-image: url(../storage/bgSpace.jpg);
}

.main {
    align-self: center;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
/*---  HEADER  ---*/


.main__title{
    text-align: center;
    color: #fff;
}



/*---   LEFT  ---*/

.section__main_left {
    display: flex;
    flex-direction: column;
    background-color: #1a1c4859;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: solid 2px;
    color: #fff;
    padding: 10px;
    gap: 20px;
}
.article__section_left {
    display: flex;
    margin: 5px;
    gap: 10px;
}

.text__section_left{
    display: flex;
    flex-direction: column;
}

.article__section_left img{
    width: 24px;
    height: 24px;
}

/*---   CENTER  ---*/

.section__main_center {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    text-align: center;
}

.main__imges{
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scrollbar-width: none;
    border-radius: 20px;
    width: 320px;
    height: 200px;
    padding: 0px 5px;
    padding-bottom: 5px;
}

.images__rockets{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.article__section_center{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: #1a1c4859;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    color: #fff;
    padding: 10px;
    border: solid 2px;
}

.article__section_center hr{
    width: 100%;
    height: 0px;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.title__table{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
    text-align: center;
}


.circular-progress {
    position: relative;
    margin: auto;
  }
  .circular-progress, .circular-progress:before, .circular-progress:after {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }
  .circular-progress:before, .circular-progress:after {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
  }
  .circular-progress:before {
    line-height: 8rem;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 1.8rem;
  }
  .circular-progress:after {
    line-height: 13rem;
  }
  
  .css3 {
    background: linear-gradient(0deg, steelblue 50%, rgba(70, 130, 180, 0.2) 50%);
    transform: rotate(153deg);
  }
  .css3:before, .css3:after {
    color: steelblue;
  }
  .css3:before {
    content: "speed";
    background: #000000 content-box;
    transform: rotate(-153deg);
    text-transform: uppercase;
  }
  .css3:after {
    content: "85%";
    background: linear-gradient(transparent 50%, #000 50%);
    transform: scale(1.1) rotate(-153deg);
  }

/*---   RIGHT  ---*/

.section__main_right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #1a1c482f;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: solid 2px;
    color: #fff;
    padding: 20px;
    gap: 30px;
}
.article__section_right {
    display: flex;
    flex-direction: column;
}

.article__section_right span {
    color: var(--color-4);
}

.text__bar_right{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: #fff;
}

.article__pages{
    justify-content: center;
    position: fixed;
    bottom: 100px;
    right: 120px;
    display: flex;
    gap: 20px;
    height: 20px;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292d7923;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: solid 2px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
}

.page p {
    margin: 0
}

/*---  FOOTER  ---*/

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.section__footer {
    width: 60%;
    height: 70px;
    background-color: #292d7923;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
}

.triangle__left{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 70px solid transparent; 
    border-bottom: 70px solid #292d7923;
    transform: rotate(-90deg);
}

.triangle__right{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 70px solid transparent; 
    border-bottom: 70px solid #292d7923; 
    transform: rotate(0deg);
}

.article__footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.article__footer img{
    width: 30px;
}