@import url(variables.css);

*{
    font-family: sans-serif;
}

body{
    background-color: var(--color-1);
}

.main {
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

/*---   LEFT  ---*/

.section__main_left {
    display: flex;
    flex-direction: column;
    background-color: var(--color-3);
    gap: 30px;
}
.article__section_left {
    display: flex;
}

.text__section_left{
    display: flex;
    flex-direction: column;
}

/*---   CENTER  ---*/

.section__main_center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.article__section_center h1 {
    color: #fff;
}

/*---   RIGHT  ---*/

.section__main_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.article__section_right {
    display: flex;
    flex-direction: column;
}

.article__section_right span {
    color: var(--color-4);
}

.text__bar_right{
    display: flex;
    gap: 10px;
    color: #fff;
}


.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.section__footer {
    width: 60%;
    height: 70px;
    background-color: var(--color-1);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
}
.article__footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.article__footer img{
    width: 30px;
}